<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackat'Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img src="../../assets/images/hackathon.png"></ion-img>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="schedule" (click)="MonClick()">
          <ion-icon name="desktop-outline"></ion-icon>
          <ion-label>Hackathon</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="schedule" (click)="pageDesHackathons()">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>Hackathon</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
